[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/liva"]
	path = themes/liva
	url = https://github.com/gethugothemes/liva-hugo.git
